<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    </div>
</head>
<body>
<!-- this is header -->
<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand"><a th:href="@{/}">Home</a></h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" sec:authorize-url="/admin" th:href="@{/admin/process}">Process</a>
            <a class="nav-link" sec:authorize-url="/faculty" th:href="@{/faculty}">Report</a>
            <a class="nav-link" href="#">Contact</a>
        </nav>
    </div>
</header>
</body>
</html>
