<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/report.js}"></script>
    <meta charset="UTF-8">
    <title>Report By Entry</title>
    <!-- Custom styles for this template -->
    <link type="text/css"
          rel="stylesheet"
          th:href="@{/css/main.css}">
</head>

<body class="text-center">

<nav th:replace="~{fragments/header :: header}">Header</nav>
<div id="selectBlock" style="text-align: center">
    <label>Entry: </label>
    <select id="entry">
        <option value="0">-- Select Course --</option>
        <option th:each="entry : ${entries}" th:value="${entry.toString()}"
                th:text="${entry.toString()}"></option>
    </select>
</div>

<!--    Report Table-->
<br>
<br>
<div id="csvLink"></div>
<br>
<div id="reportTable">

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
