<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/report.js}"></script>
    <meta charset="UTF-8">
    <title>Report By Block</title>
    <!-- Custom styles for this template -->
    <link type="text/css"
          rel="stylesheet"
          th:href="@{/css/main.css}">
</head>
<body class="text-center">
<nav th:replace="~{fragments/header :: header}">Header</nav>
<div id="selectBlock" style="text-align: center">
    <label>Block: </label>
    <select id="block">
        <option value="0">-- Select Block --</option>
        <option th:each="block : ${blocks}" th:value="${block.getBlockId()}"
                th:text="${block.getCourse() + ' - ' + block.getName()}"></option>
    </select>
</div>
<br>
<br>

<div id="csvLink"></div>
<br>
<!--    Report Table-->
<div id="reportTable">
    <br>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
