<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/report.js}"></script>
    <meta charset="UTF-8">
    <title>Report By Entry</title>
</head>

<body class="text-center">

<h3 class="masthead-brand"><a th:href="@{/}">Home</a></h3>
<div id="selectBlock" style="text-align: center">
    <label>Entry: </label>
    <select id="entry">
        <option value="0">-- Select Course --</option>
        <option th:each="entry : ${entries}" th:value="${entry.toString()}"
                th:text="${entry.toString()}"></option>
    </select>
</div>

<!--    Report Table-->
<br>
<br>
<div id="csvLink"></div>
<br>
<div id="reportTable">

</div>

</body>
</html>
