<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/report.js}"></script>
    <meta charset="UTF-8">
    <title>Report By Block</title>
</head>
<body>
<h3 class="masthead-brand"><a th:href="@{/}">Home</a></h3>
<div id="selectBlock" style="text-align: center">
    <label>Block: </label>
    <select id="block">
        <option value="0">-- Select Block --</option>
        <option th:each="block : ${blocks}" th:value="${block.getBlockId()}"
                th:text="${block.getCourse() + ' - ' + block.getName()}"></option>
    </select>
</div>
<br>
<br>

<div id="csvLink"></div>
<br>
<!--    Report Table-->
<div id="reportTable">
    <br>
</div>
</div>
</body>

<!--<body class="text-center" data-gr-c-s-loaded="true" style="background-color: #333">-->

<!--<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">-->
<!--    <header th:replace="~{fragments/header :: header}">Header</header>-->
<!--    <div id="main" style="background-color: white">-->

<!--        <div id="selectBlock" style="text-align: center">-->
<!--            <label>Block: </label>-->
<!--            <select id="block">-->
<!--                <option value="0">&#45;&#45; Select Block &#45;&#45;</option>-->
<!--                <option th:each="block : ${blocks}" th:value="${block.getBlockId()}"-->
<!--                        th:text="${block.getCourse() + ' - ' + block.getName()}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <br>-->
<!--        <br>-->

<!--        <div id="csvLink"></div>-->
<!--        <br>-->
<!--        &lt;!&ndash;    Report Table&ndash;&gt;-->
<!--        <div id="reportTable">-->
<!--            <br>-->
<!--        </div>-->
<!--    </div>-->

<!--    <footer th:replace="~{fragments/footer :: footer}">-->
<!--    </footer>-->

<!--</div>-->
<!--</body>-->
</html>
