
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>List Of TM/Retreat Checkings</title>

    <!-- reference our style sheet -->

    <link type="text/css" rel="stylesheet"  href="css/style.css" />

</head>

<body>

<div id="wrapper">
    <div id="header">
        <h2>Student TM-Checking/TM-Retreat System </h2>
    </div>
</div>

<div id="container">

    <div id="content">

        <!-- put new button: check tm -->

            <input type="button" value="TM Check"
                   onclick="window.location.href='tmcheck'; return false;"
                   class="add-button"
            />

            <!--  add our html table here -->

            <table >
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Checked Date</th>
                    <th>Entry </th>
                    <th>TM Type</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <!-- loop over and print our tm checked students -->
                <tr th:each="tm:${tms}">

                    <!-- construct an "update" link with customer id -->


                    <td th:text="${tm.student.getStudentId()}"></td>
                    <td th:text="${tm.student.getFirstName()}"></td>
                    <td th:text="${tm.checkedDate}"></td>
                    <td th:text="${tm.student.getEntry()}"></td>
                    <td th:text="${tm.tmType}"></td>

                    <!-- display the update link -->
                    <td>
                        <a  th:href="@{/tmformforupdate(id=${tm.id})}">Edit</a>
                        |
                        <a th:href="@{/delete(id=${tm.id})}"
                           onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">Delete</a>
                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>


</body>

</html>









