<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form th:action="@{/login}" method="POST" class="form-signin" role="form">
    <a th:href="@{/}"><img class="mb-4" src="https://cdn4.iconfinder.com/data/icons/yoga-meditation-exercise-hexagon/128/15-512.png" alt="" width="72" height="72"></a>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div align="center" th:if="${loginError}">
        <p style="font-size: 20px; color: #FF1C19;">Email or Password is invalid, please verify</p>
    </div>
    <input type="text" name="userId" placeholder="User ID"
           class="form-control" required autofocus/>
    <input type="password" name="password" placeholder="Password" class="form-control" required/>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <a th:href="@{/registration}">Register new account</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2019 WAA PROJECT</p>
</form>
</body>
</html>
