<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link type="text/css"
          rel="stylesheet"
          th:href="@{/css/main.css}">
</head>
<body>
    <nav th:replace="~{fragments/header :: header}">Header</nav>
    <div class="main-content">
        <form th:action="@{/admin/upload}" method="POST" enctype="multipart/form-data"
              class="form-control-sm" role="form">
            <fieldset>
                <legend class="col-sm-9">Upload a file to process data (100MB): </legend>
                <div class="form-group">
                    <div class="col-sm-9">
                        Upload File: <input type="file" name="mediation-file"/>
                        <br/>
                        <br>
                        <button class="btn btn-md btn-success" type="Submit">Upload</button>
                    </div>
                </div>
                <div class="form-group" th:if="${success != null}">
                    <div class="col-sm-9">
                        <h3 th:if="${success}">File has been uploaded!</h3>
                        <h3 th:if="${!success}">Error, file is not valid!</h3>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>